body:lang(TC),
body:lang(SC)
{
    .deco-content{
        font-weight: 100;
    }
    #diamondCarousel h3{
        padding-top: 5px;
    }
    @media (min-width: 768px){
    }
    @media (min-width: 992px){
        .subnav-arrow {
            left: 150px;
        }
    }
    @media (min-width: 1200px){
        .subnav-arrow {
            left: 204px;
        }
    }
    
}

body:lang(TC)
{
    .deco-content{
        font-family: 'Noto Sans TC', sans-serif;
    }
    #diamondCarousel .dia-cat h5,
    #intdexWhatsNews .text-gold-btn,
    #intdexWhatsNews .news-item-text .text-gold,
    .coming .disable-text h4,
    #intdexWhatsNews .news-item-header{
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 500;
    }
    
}
body:lang(SC)
{
    .deco-content{
        font-family: 'Noto Sans SC', sans-serif;
    }
    #intdexWhatsNews .text-gold-btn,
    #intdexWhatsNews .news-item-text .text-gold,
    .coming .disable-text h4,
    #intdexWhatsNews .news-item-header{
        font-family: 'Noto Sans SC', sans-serif;
        font-weight: 500;
    }
    
}